<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add to Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <header>
        <!--<div class="container-fluid">-->
            <nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-md">
                <a class="navbar-brand" href="/">ContactBook</a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#mainmenu"
                        aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainmenu">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/new">Add User</a> </li>
                        <li class="nav-item"><a class="nav-link" href="/">Browse Users</a> </li>
                        <li class="nav-item"><a class="nav-link" href="/addGroup">Add Group</a> </li>
                        <li class="nav-item"><a class="nav-link" href="/browseGroups">Browse Groups</a> </li>
                        <li class="nav-item"><a class="nav-link" href="/search">Search</a> </li>
                    </ul>
                </div>



            </nav>
    <div class="container text-center my-auto">
        <h1><br></h1>
        <h1><br></h1>
        <h2>Add Member {{ member.nick }} to Groups</h2>
        <p><br><br></p>
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="group2">Chose groups above:</label>
                            <select name="selected_groups" multiple class="form-control" id="group2">

                                {% for element in avaliable_groups %}
                                <option value="{{ element.id }}">{{ element.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <!--/addedToGroups/{{ member.id }}-->

                                <button type="submit" class="btn btn-success">Add Member to Groups</button>
                                <a href="/modify/{{ member.id }}" class="btn btn-danger btn-sm">Cancel</a>
                                {% csrf_token %}

                        </div>

                    </form>
        <!--</div>-->
    </header>